Repository robid98/RestaurantSimulation, pull requests merged in 2023-11, with the labels that each got.

#40 [Feature] Refactor integration tests for MenuCategoryController
  RestaurantSimulation.Backend/src/RestaurantSimulation.Api/Controllers/AuthenticationController.cs
  RestaurantSimulation.Backend/src/RestaurantSimulation.Api/Controllers/MenuCategoryController.cs
  RestaurantSimulation.Backend/tests/RestaurantSimulation.IntegrationTests/Authentication/AuthenticationControllerTests.cs
  RestaurantSimulation.Backend/tests/RestaurantSimulation.IntegrationTests/Helpers/CustomWebApplicationBase.cs
  RestaurantSimulation.Backend/tests/RestaurantSimulation.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
  RestaurantSimulation.Backend/tests/RestaurantSimulation.IntegrationTests/Restaurant/RestaurantMenuCategory/MenuCategoryControllerTests.cs
Labels: backend-tests

#41 [Frontend] Empty Next.js app
  RestaurantSimulation.Next.Frontend/.env.example
  RestaurantSimulation.Next.Frontend/.eslintrc.json
  RestaurantSimulation.Next.Frontend/.gitignore
  RestaurantSimulation.Next.Frontend/README.md
  RestaurantSimulation.Next.Frontend/components.json
  RestaurantSimulation.Next.Frontend/next.config.js
  RestaurantSimulation.Next.Frontend/package.json
  RestaurantSimulation.Next.Frontend/postcss.config.js
  RestaurantSimulation.Next.Frontend/public/favicon.ico
  RestaurantSimulation.Next.Frontend/public/favicon.png
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/OFL.txt
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/README.txt
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/Tektur-VariableFont_wdth,wght.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur-Black.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur-Bold.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur-ExtraBold.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur-Medium.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur-Regular.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur-SemiBold.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur_Condensed-Black.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur_Condensed-Bold.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur_Condensed-ExtraBold.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur_Condensed-Medium.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur_Condensed-Regular.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur_Condensed-SemiBold.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur_SemiCondensed-Black.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur_SemiCondensed-Bold.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur_SemiCondensed-ExtraBold.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur_SemiCondensed-Medium.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur_SemiCondensed-Regular.ttf
  RestaurantSimulation.Next.Frontend/public/fonts/Tektur/static/Tektur_SemiCondensed-SemiBold.ttf
  RestaurantSimulation.Next.Frontend/public/icons/logo/logo-2x1.png
  RestaurantSimulation.Next.Frontend/public/icons/logo/logo-primary-2x1.png
  RestaurantSimulation.Next.Frontend/public/icons/logo/logo-primary.png
  RestaurantSimulation.Next.Frontend/public/icons/logo/logo.png
  RestaurantSimulation.Next.Frontend/public/icons/sizes/square/1024.png
  RestaurantSimulation.Next.Frontend/public/icons/sizes/square/144.png
  RestaurantSimulation.Next.Frontend/public/icons/sizes/square/168.png
  RestaurantSimulation.Next.Frontend/public/icons/sizes/square/192.png
  RestaurantSimulation.Next.Frontend/public/icons/sizes/square/256.png
  RestaurantSimulation.Next.Frontend/public/icons/sizes/square/48.png
  RestaurantSimulation.Next.Frontend/public/icons/sizes/square/512.png
  RestaurantSimulation.Next.Frontend/public/icons/sizes/square/72.png
  RestaurantSimulation.Next.Frontend/public/icons/sizes/square/96.png
  RestaurantSimulation.Next.Frontend/public/manifest.json
  RestaurantSimulation.Next.Frontend/public/next.svg
  RestaurantSimulation.Next.Frontend/public/service-worker.js
  RestaurantSimulation.Next.Frontend/public/vercel.svg
  RestaurantSimulation.Next.Frontend/tailwind.config.ts
  RestaurantSimulation.Next.Frontend/tsconfig.json
  RestaurantSimulation.Next.Frontend/vercel.json
Labels: frontend-feature

#42 [Backend Feature] Create build pipeline for RestaurantSimulation.Backend
  .github/workflows/build.yml
  README.md
  RestaurantSimulation.Backend/tests/RestaurantSimulation.IntegrationTests/Restaurant/RestaurantMenuCategory/MenuCategoryControllerTests.cs
  RestaurantSimulation.Next.Frontend/README.md
Labels: backend-feature

#43 [Backend Feature] Update backend build pipeline
  .github/workflows/build.yml
  RestaurantSimulation.Backend/tests/RestaurantSimulation.IntegrationTests/Restaurant/RestaurantMenuCategory/MenuCategoryControllerTests.cs
Labels: backend-feature

#45 [Backend Feature] Alter backend GitHub Action
  .github/workflows/backend-ci.yml
Labels: backend-feature

#47 [Backend Feature] Integrate dotnet test reporter
  .github/workflows/backend-ci.yml
  RestaurantSimulation.Backend/tests/RestaurantSimulation.IntegrationTests/Restaurant/RestaurantMenuCategory/MenuCategoryControllerTests.cs
Labels: backend-feature

#48 [Backend Feature] Little refactoring in some places
  RestaurantSimulation.Backend/src/RestaurantSimulation.Api/Controllers/MenuCategoryController.cs
  RestaurantSimulation.Backend/src/RestaurantSimulation.Api/Program.cs
  RestaurantSimulation.Backend/src/RestaurantSimulation.Api/Properties/launchSettings.json
  RestaurantSimulation.Backend/tests/RestaurantSimulation.IntegrationTests/Helpers/CustomWebApplicationFactory.cs
  RestaurantSimulation.Backend/tests/RestaurantSimulation.IntegrationTests/Restaurant/RestaurantMenuCategory/MenuCategoryControllerTests.cs
  RestaurantSimulation.Backend/tests/RestaurantSimulation.UnitTests/Authentication/Commands/RegisterUserHandlerTests.cs
  RestaurantSimulation.Backend/tests/RestaurantSimulation.UnitTests/Authentication/Commands/UpdateUserHandlerTests.cs
  RestaurantSimulation.Backend/tests/RestaurantSimulation.UnitTests/Authentication/Queries/GetUserByIdHandlerTests.cs
  RestaurantSimulation.Backend/tests/RestaurantSimulation.UnitTests/Authentication/Queries/GetUsersHandlerTests.cs
  RestaurantSimulation.Backend/tests/RestaurantSimulation.UnitTests/Mocks/Authentication/MockUserRepository.cs
  RestaurantSimulation.Backend/tests/RestaurantSimulation.UnitTests/Restaurant/RestaurantMenuCategory/Commands/CreateMenuCategoryHandlerTests.cs
  RestaurantSimulation.Backend/tests/RestaurantSimulation.UnitTests/Restaurant/RestaurantMenuCategory/Commands/DeleteMenuCategoryHandlerTests.cs
  RestaurantSimulation.Backend/tests/RestaurantSimulation.UnitTests/Restaurant/RestaurantMenuCategory/Commands/UpdateMenuCategoryHandlerTests.cs
  RestaurantSimulation.Backend/tests/RestaurantSimulation.UnitTests/Restaurant/RestaurantMenuCategory/Queries/GetMenuCategoriesHandlerTests.cs
  RestaurantSimulation.Backend/tests/RestaurantSimulation.UnitTests/Restaurant/RestaurantMenuCategory/Queries/GetMenuCategoryByIdHandlerTests.cs
  RestaurantSimulation.Backend/tests/RestaurantSimulation.UnitTests/Restaurant/RestaurantMenuCategory/Queries/GetProductsMenuCategoryByIdHandlerTests.cs
Labels: backend-feature

#49 [Backend Feature] Integrate serilog and add some logging
  RestaurantSimulation.Backend/src/RestaurantSimulation.Api/Controllers/AuthenticationController.cs
  RestaurantSimulation.Backend/src/RestaurantSimulation.Api/Controllers/MenuCategoryController.cs
  RestaurantSimulation.Backend/src/RestaurantSimulation.Api/Program.cs
  RestaurantSimulation.Backend/src/RestaurantSimulation.Api/RestaurantSimulation.Api.csproj
  RestaurantSimulation.Backend/src/RestaurantSimulation.Api/appsettings.Development.json
  RestaurantSimulation.Backend/src/RestaurantSimulation.Api/appsettings.json
  RestaurantSimulation.Backend/src/RestaurantSimulation.Application/Authentication/Commands/RegisterUser/RegisterUserHandler.cs
  RestaurantSimulation.Backend/src/RestaurantSimulation.Application/Authentication/Common/Services/ExtractUserClaims/ExtractUserClaimsService.cs
  RestaurantSimulation.Backend/src/RestaurantSimulation.Application/Authentication/Common/Services/ExtractUserClaims/IExtractUserClaimsService.cs
  RestaurantSimulation.Backend/src/RestaurantSimulation.Application/RestaurantSimulation.Application.csproj
  RestaurantSimulation.Backend/src/RestaurantSimulation.Infrastructure/RestaurantSimulation.Infrastructure.csproj
  RestaurantSimulation.Backend/tests/RestaurantSimulation.UnitTests/Authentication/Commands/RegisterUserHandlerTests.cs
Labels: backend-feature

#50 [Backend feature] Add Code Coverage
  .github/workflows/backend-ci.yml
  RestaurantSimulation.Backend/tests/RestaurantSimulation.IntegrationTests/RestaurantSimulation.IntegrationTests.csproj
  RestaurantSimulation.Backend/tests/RestaurantSimulation.UnitTests/RestaurantSimulation.UnitTests.csproj
Labels: backend-feature
